In [1]:
print("praveen")

praveen

In [2]:
print(3+3)

6

In [4]:
x = input()
print("x:", x)

 efrh

x: efrh

In [5]:
x = input("Enter the valuer of number:")
print("x:" ,x)

Enter the valuer of number: 5

x: 5

In [10]:
x =input("x")
y =input("y")
x =int(x)
y =int(y)
print("x+y =",x+y)

x 5
y 5

x+y = 10

In [8]:
x = input("Enter the number of x :")
y = input ("Enter the number of y :")

x =float(x)
y =float(y)

print("colection x+y =",x+y)

Enter the number of x : 1.2
Enter the number of y : 2

colection x+y 3.2

In [11]:
x = input("Enter the number of x :")
y = input ("Enter the number of y :")

x =eval(x)
y =eval(y)

print("colection x+y =",x+y)

Enter the number of x : 5
Enter the number of y : 1.02

colection x+y = 6.02

In [12]:
x = eval(input("Enter the number of x :"))
y = eval(input ("Enter the number of y :"))

print("colection x+y =",x+y)

Enter the number of x : 4.2
Enter the number of y : 3.0

colection x+y = 7.2

In [13]:
print ("basic calalution")

basic calalution

In [ ]:
valu1=eval(input("Enter the value 1 :"))
valu2=eval(input("Enter the value 2: "))
print("valu1 + valu2",valu1 + valu2)
print("valu1 - valu2",valu1 - valu2)
print("valu1 / valu2",valu1 / valu2)
print("valu1 * valu2",valu1 * valu2)

Enter the value 1 : 8
Enter the value 2:  2

valu1 + valu2 10
valu1 - valu2 6
valu1 / valu2 4.0
valu1 * valu2 16

In [1]:
mylist = ["physics","chmistry",1997,200]
print(mylist)

['physics', 'chmistry', 1997, 200]

In [3]:
mylist[3] = 2001
print(mylist)

['physics', 'chmistry', 2001, 2001]

In [4]:
x = len(mylist)
print(x)

4

In [6]:
list1 =['c++','java','python']
list2 =[200,300,400]
print(max(list1))
print(max(list2))

python
400

In [9]:
amout = eval(input("Enter amount"))

if amout<1000:
    discount = amout * 0.05
    print("Discount",discount)
else:
    discount = amout *0.10
    print("Discount",discount)
print("Net payable:",amout-discount)

Enter amount 200

Discount 10.0
Net payable: 190.0

In [10]:
for i in range(0,10,1):
    print("This python",i)

This python 0
This python 1
This python 2
This python 3
This python 4
This python 5
This python 6
This python 7
This python 8
This python 9

In [12]:
for i in range(10,0,-2):
    print("this python",i)

this python 10
this python 8
this python 6
this python 4
this python 2

In [13]:
myList = [1,3,23,45,54]

for i in range(len(myList)):
    print(i)

0
1
2
3
4

In [14]:
myList =[21,43,2,55,64]

for i in range(len(myList)):
    print(i,myList[i])

0 21
1 43
2 2
3 55
4 64

In [15]:
myList =[i for i in range(10)]
print(myList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
myList = [0 for i in range(10)]
print(myList)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [17]:
def calAvg(a,b,c):
    avg =(a+b+c)/3.0
    print(avg)

In [18]:
calAvg(20,30,40)

30.0

In [19]:
def add(arg1,arg2):
    total = arg1 + arg2
    return total

In [20]:
val = add(10,20)
print(val)

30

In [21]:
calNew = lambda a,b,c:(a+b+c)/3.0

In [22]:
val =calNew(10,20,30)
print(val)

20.0

In [24]:
while(True):
    maths,phy,chem = eval(input("Enter Student Maths:"))
    calAvg(maths,phy,chem)

    option = input("Do you need another entry(y/n):")

    if(option == 'n' or option =='N'):
        break

print('Loop ENDS')

Enter Student Maths: 55,45,60

53.333333333333336

Do you need another entry(y/n): N

Loop ENDS

In [25]:
while(True):
    maths,phy,chem = eval(input("Enter Student Maths:"))

    if(maths<0 or phy<0 or chem<0):
        print('Marks cannot be NEGATIVE  !')
        continue
        
    calAvg(maths,phy,chem)

    option = input("Do you need another entry(y/n):")

    if(option == 'n' or option =='N'):
        break

print('Loop ENDS')

Enter Student Maths: -12,20,60

Marks cannot be NEGATIVE  !

Enter Student Maths: 20,20,20

20.0

Do you need another entry(y/n): n

Loop ENDS